[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
celery = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pandas = "*"
flask-migrate = "*"
flask-smorest = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
ipykernel = "*"
pre-commit = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
