<nav mat-tab-nav-bar backgroundColor="accent" color="warn">
  <a mat-flat-button color="accent" class="toolbar-item" [matMenuTriggerFor]="workspaceMenu"><mat-icon>menu</mat-icon></a>
  <a mat-flat-button color="accent" class="toolbar-item" (click)="addWorkspace()"><mat-icon>add</mat-icon></a>
  <a mat-tab-link *ngFor="let workspace of workspaces"
    (click)="selectWorkspace(workspace)"
    [active]="activeWorkspace == workspace"
  >
    {{workspace}}
  </a>
</nav>
<mat-menu #workspaceMenu="matMenu" yPosition="above">
  <div mat-menu-item disabled>Workspace Options</div>
  <button mat-menu-item><mat-icon>save</mat-icon>Save</button>
  <button mat-menu-item><mat-icon>content_copy</mat-icon>Duplicate</button>
  <button mat-menu-item><mat-icon>edit</mat-icon>Rename</button>
  <button mat-menu-item><mat-icon>close</mat-icon>Close</button>
  <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
</mat-menu>
